* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.clearfix {
    clear: both;
}

.top-line {
    background-color: #E5E5E5;
    padding: 17px 0 16px 0;
}

.top {
    text-align: center;
}

.nav-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

.link {
    text-decoration: none;
    text-transform: capitalize;
    color: #333333;
    font-size: 14px;
    line-height: 16px;
}

.nav-item:last-child {
    margin-right: 0;
}

.header {
    border-bottom: 1px solid #EFEFEF;;
}

.logo {
    float: left;
    margin: 20px 0;
}

.right-header {
    float: right;
}

.phone {
    float: left;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: black;
    margin: 50px 40px 51px 0;
}

.button {
    float: left;
    font-size: 14px;
    line-height: 16px;
    padding: 13px 26px;
    background-color: white;
    border: 2px solid #F13C6E;
    border-radius: 40px;
    margin: 40px 0;
    cursor: pointer;
}

.services {
    padding: 30px 0;
}

.menu {
    margin: 0 auto;
    width: 675px;
}

.menu-link {
    float: left;
    margin-right: 40px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 19px;
}

.menu-link.last {
    margin-right: 0;
}

.sale {
    height: 604px;
    background-image: url('images/sale.png');
    background-position: center;
    background-size: cover;
    padding: 192px 0 193px 0;
}

.sale-title {
    font-weight: 700;
    color: white;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 50px;
}

.sale-text {
    color: white;
    font-size: 14px;
    line-height: 20px;
    width: 308px;
    margin-bottom: 62px;
}

.button.sale-link {
    float: none;
    color: white;
    background-color: #F13C6E;
    letter-spacing: 0.05em;
    text-decoration: none;
    border: 2px solid #FFFFFF;
    text-align: center;
    margin: 0;
}

.link-word {
    display: inline-block;
    width: 117px;
}

.cards {
    background-color: #E5E5E5;
    padding: 80px 0 100px 0;
}

.card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 38px;
}

.card {
    float: left;
    margin-right: 30px;
    padding-top: 25px;
    padding-bottom: 34px;
    width: 255px;
    background-color: white;
    text-align: center;
}

.card:nth-child(4n+1) {
    margin-right: 0;
}

.card-image {
    width: 125px;
    height: 166px;
    margin: 0 65px 20px 65px;
}

.card-text {
    width: 195px;
    color: #333333;
    font-size: 14px;
    line-height: 20px;
    margin: 0 30px 20px 30px;
}

.price {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
}

.button.buy {
    float: none;
    width: 130px;
    height: 35px;
    padding: 9px 40px 9px 39px;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: white;
    background-color: #F13C6E;
    border-radius: 30px;
    border: none;
    margin: 0 62px;
}