* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.clearfix {
    clear: both;
}

.top-line {
    background-color: #E5E5E5;
    padding: 17px 0 16px 0;
}

.top {
    text-align: center;
}

.nav-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

.link {
    text-decoration: none;
    text-transform: capitalize;
    color: #333333;
    font-size: 14px;
    line-height: 16px;
}

.nav-item:last-child {
    margin-right: 0;
}

.header {
    border-bottom: 1px solid #EFEFEF;
    height: 120px;
    padding: 20px 0;
}

.logo {
    float: left;
}

.right-header {
    float: right;
}

.phone {
    float: left;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: black;
    margin: 30px 40px 30px 0;
}

.button {
    float: left;
    font-size: 14px;
    line-height: 16px;
    padding: 13px 26px;
    background-color: white;
    border: 2px solid #F13C6E;
    border-radius: 40px;
    margin: 40px 0;
    cursor: pointer;
}

.services {
    padding: 30px 0;
}

.menu {
    margin: 0 auto;
    width: 675px;
}

.menu-link {
    float: left;
    margin-right: 40px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 19px;
}

.menu-link.last {
    margin-right: 0;
}

.sale {
    height: 604px;
    background-image: url('images/sale.png');
    background-position: center;
    background-size: cover;
    padding: 192px 0 193px 0;
}

.sale-title {
    font-weight: 700;
    color: white;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 50px;
}

.sale-text {
    color: white;
    font-size: 14px;
    line-height: 20px;
    width: 308px;
    margin-bottom: 62px;
}

.button.sale-link {
    float: none;
    color: white;
    background-color: #F13C6E;
    letter-spacing: 0.05em;
    text-decoration: none;
    border: 2px solid #FFFFFF;
    text-align: center;
    margin: 0;
}

.link-word {
    display: inline-block;
    width: 117px;
}

.main-section {
    background-color: #E5E5E5;
}

.cards {
    padding-top: 100px;
    margin-bottom: 80px;
}

.card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 38px;
}

.card {
    float: left;
    margin-right: 30px;
    padding-top: 25px;
    padding-bottom: 34px;
    width: 255px;
    background-color: white;
    text-align: center;
}

.card:nth-child(4n+1) {
    margin-right: 0;
}

.card-image {
    width: 125px;
    height: 166px;
    margin: 0 65px 20px 65px;
}

.card-text {
    width: 195px;
    color: #333333;
    font-size: 14px;
    line-height: 20px;
    margin: 0 30px 13px 30px;
}

.price {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
}

.button.buy {
    float: none;
    width: 130px;
    height: 35px;
    padding: 9px 40px 9px 39px;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: white;
    background-color: #F13C6E;
    border-radius: 30px;
    border: none;
    margin: 0 62px;
}

.two-cards {
    margin-bottom: 100px;
}

.card-bonus {
    display: inline-block;
    width: 540px;
    background-color: #F13C6E;
    padding: 35px 45px 35px 40px;
    margin-right: 30px;
}

.card-bonus.right {
    margin-right: 0;
    padding-bottom: 44px;
}

.card-bonus_left-part {
    display: inline-block;
    margin-right: 65px;
}

.card-bonus_title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 21px;
}

.card-bonus_text {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.input {
    background-color: white;
    border-radius: 30px;
    border: none;
    width: 225px;
    height: 35px;
}

.envelope {
    vertical-align: top;
    margin-top: 1px;
}

.card-bonus_left-part.right-card {
    margin-right: 96px;
}

.card-bonus_text.right-card {
    margin-bottom: 34px;
}

.button.sale-link.map {
    letter-spacing: normal;
    padding: 9px 26px;
}

.logo-section_link {
    float: left;
    width: 277px;
    height: 118px;
    background-color: white;
    border: 1px solid #EFEFEF;
    padding: 35px 69px 35px 60px;
}

.logo-section {
    margin-bottom: 80px;
}

.cards.looked {
    padding-top: 0;
    padding-bottom: 81px;
    margin-bottom: 0;
}

.category-section {
    padding: 60px 0;
    border-bottom: 1px solid #EFEFEF;
}

.category-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 140.62%;
    padding-bottom: 30px;
    border-bottom: 1px solid #EFEFEF;
    width: 255px;
    margin-bottom: 25px;
}

.category-item {
    font-size: 12px;
    line-height: 28px;
    color: #828282;
    text-decoration: none;
}

.category {
    float: left;
    margin-right: 30px;
}

.category:nth-child(4n) {
    margin-right: 0;
}

.contacts {
    padding: 37px 0;
    height: 120px;
}

.social {
    float: left;
    margin-right: 30px;
}

.phone.bottom {
    margin-top: 13px;
    margin-bottom: 0;
}

.button.network {
    margin-top: 3px;
    margin-bottom: 0;
}

.footer {
    background-color: #EFEFEF;
    padding: 25px 0;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
}

.footer-link {
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    text-decoration: none;
}